{% extends "base.html" %}
{% load glogo_tags %}
{% block title %}{{ group.name }}{% endblock %}

{% block body %}
    <a href="{% url groups %}">Back to all groups</a>
    <h1>{{ group.name }}</h1>
    {% with 'group' as content_type %}{% with group.id as object_id %}
        {% get_object_logo content_type object_id as group_logo %}
        {% if group_logo %}
            <img src="{{ group_logo.thumbnail_image.url }}"><br/>
            <b>Primary</b>
        {% else %}
            <b>No primary logo</b>
        {% endif %}
    {% endwith %}{% endwith %}
    
    {% include "generic_logo/_upload_logo.html" %}
    
    <h3>Logos</h3>
    {% with 'group' as content_type %}{% with group.id as object_id %}
        {% include "generic_logo/_generic_logos.html" %}
    {% endwith %}{% endwith %}
{% endblock %}
